// ----------------------------------------------------------------------------------------
// Importações
// ----------------------------------------------------------------------------------------
@import 'framework'



// ----------------------------------------------------------------------------------------
// Estrutura
// ----------------------------------------------------------------------------------------
body
    font-family: $fonte1
    background: #FFF
strong
    font-weight: 600



// ----------------------------------------------------------------------------------------
// Bordas arredondadas
// ----------------------------------------------------------------------------------------
.arredondado50
    @include prefix(border-radius, 50%, webkit ms moz o)
