// ----------------------------------------------------------------------------------------
//
//
//                                  KEYFRAMES
//
//
// ----------------------------------------------------------------------------------------

// ----------------------------------------------------------------------------------------
// KEYFRAMES: Girar
// ----------------------------------------------------------------------------------------
@keyframes girar
    0%
        transform: rotate(0deg)
    100%
        transform: rotate(360deg)

@-webkit-keyframes girar
    0%
        transform: rotate(0deg)
    100%
        transform: rotate(360deg)
