html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

ol, ul {
  list-style: none; }
  ol:after, ul:after {
    content: "";
    display: table;
    clear: both; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after, q:before, q:after {
  content: "";
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

a {
  text-decoration: none;
  outline: none;
  display: inline-block; }

body {
  line-height: 1; }

* {
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box; }

button {
  outline: 0;
  cursor: pointer;
  display: inline-block;
  margin: 0; }

img {
  vertical-align: middle;
  max-width: 100%; }

button, input, select, textarea {
  outline: none; }

textarea {
  resize: none; }

em {
  font-style: italic; }

main {
  display: block; }

@font-face {
  font-family: "DowCorporate";
  src: url("../fonts/dowcorporate/dowcorporate-thin.eot?#iefix") format("embedded-opentype"), url("../fonts/dowcorporate/dowcorporate-thin.woff") format("woff"), url("../fonts/dowcorporate/dowcorporate-thin.ttf") format("truetype"), url("../fonts/dowcorporate/dowcorporate-thin.svg#dowcorporate-thin") format("svg");
  font-weight: 100;
  font-style: normal; }
@font-face {
  font-family: "DowCorporate";
  src: url("../fonts/dowcorporate/dowcorporate-thinita.eot?#iefix") format("embedded-opentype"), url("../fonts/dowcorporate/dowcorporate-thinita.woff") format("woff"), url("../fonts/dowcorporate/dowcorporate-thinita.ttf") format("truetype"), url("../fonts/dowcorporate/dowcorporate-thinita.svg#dowcorporate-thinita") format("svg");
  font-weight: 100;
  font-style: italic; }
@font-face {
  font-family: "DowCorporate";
  src: url("../fonts/dowcorporate/dowcorporate-light.eot?#iefix") format("embedded-opentype"), url("../fonts/dowcorporate/dowcorporate-light.woff") format("woff"), url("../fonts/dowcorporate/dowcorporate-light.ttf") format("truetype"), url("../fonts/dowcorporate/dowcorporate-light.svg#dowcorporate-light") format("svg");
  font-weight: 200;
  font-style: normal; }
@font-face {
  font-family: "DowCorporate";
  src: url("../fonts/dowcorporate/dowcorporate-lightita.eot?#iefix") format("embedded-opentype"), url("../fonts/dowcorporate/dowcorporate-lightita.woff") format("woff"), url("../fonts/dowcorporate/dowcorporate-lightita.ttf") format("truetype"), url("../fonts/dowcorporate/dowcorporate-lightita.svg#dowcorporate-lightita") format("svg");
  font-weight: 200;
  font-style: italic; }
@font-face {
  font-family: "DowCorporate";
  src: url("../fonts/dowcorporate/dowcorporate-regular.eot?#iefix") format("embedded-opentype"), url("../fonts/dowcorporate/dowcorporate-regular.woff") format("woff"), url("../fonts/dowcorporate/dowcorporate-regular.ttf") format("truetype"), url("../fonts/dowcorporate/dowcorporate-regular.svg#dowcorporate-regular") format("svg");
  font-weight: 400;
  font-style: normal; }
@font-face {
  font-family: "DowCorporate";
  src: url("../fonts/dowcorporate/dowcorporate-regularita.eot?#iefix") format("embedded-opentype"), url("../fonts/dowcorporate/dowcorporate-regularita.woff") format("woff"), url("../fonts/dowcorporate/dowcorporate-regularita.ttf") format("truetype"), url("../fonts/dowcorporate/dowcorporate-regularita.svg#dowcorporate-regularita") format("svg");
  font-weight: 400;
  font-style: italic; }
@font-face {
  font-family: "DowCorporate";
  src: url("../fonts/dowcorporate/dowcorporate-medium.eot?#iefix") format("embedded-opentype"), url("../fonts/dowcorporate/dowcorporate-medium.woff") format("woff"), url("../fonts/dowcorporate/dowcorporate-medium.ttf") format("truetype"), url("../fonts/dowcorporate/dowcorporate-medium.svg#dowcorporate-medium") format("svg");
  font-weight: 500;
  font-style: normal; }
@font-face {
  font-family: "DowCorporate";
  src: url("../fonts/dowcorporate/dowcorporate-mediumita.eot?#iefix") format("embedded-opentype"), url("../fonts/dowcorporate/dowcorporate-mediumita.woff") format("woff"), url("../fonts/dowcorporate/dowcorporate-mediumita.ttf") format("truetype"), url("../fonts/dowcorporate/dowcorporate-mediumita.svg#dowcorporate-mediumita") format("svg");
  font-weight: 500;
  font-style: italic; }
@font-face {
  font-family: "DowCorporate";
  src: url("../fonts/dowcorporate/dowcorporate-bold.eot?#iefix") format("embedded-opentype"), url("../fonts/dowcorporate/dowcorporate-bold.woff") format("woff"), url("../fonts/dowcorporate/dowcorporate-bold.ttf") format("truetype"), url("../fonts/dowcorporate/dowcorporate-bold.svg#dowcorporate-bold") format("svg");
  font-weight: 700;
  font-style: normal; }
.texto {
  font-family: "DowCorporate", Arial; }
  .texto img {
    max-width: 100%;
    display: block;
    height: auto !important; }
  @media (max-width: 499px), (min-width: 500px) and (max-width: 749px) {
    .texto > * + * {
      margin-top: 10px; } }
  @media (min-width: 750px) and (max-width: 989px), (min-width: 990px) and (max-width: 1399px), (min-width: 1400px) {
    .texto > * + * {
      margin-top: 15px; } }
  .texto p {
    overflow: hidden; }
  .texto strong {
    font-weight: 500; }
  .texto ul {
    padding-left: 19px;
    list-style-type: disc; }
  .texto ol {
    padding-left: 19px;
    list-style-type: decimal; }
  .texto a {
    text-decoration: underline; }

.container {
  margin: 0 auto; }
  .container:after {
    content: "";
    display: table;
    clear: both; }
  @media (max-width: 499px) {
    .container {
      padding-right: 20px;
      padding-left: 20px; } }
  @media (min-width: 500px) and (max-width: 749px) {
    .container {
      padding-right: 10px;
      padding-left: 10px;
      width: 480px; } }
  @media (min-width: 750px) and (max-width: 989px) {
    .container {
      padding-right: 10px;
      padding-left: 10px;
      width: 660px; } }
  @media (min-width: 990px) and (max-width: 1399px) {
    .container {
      padding-right: 10px;
      padding-left: 10px;
      width: 960px; } }
  @media (min-width: 1400px) {
    .container {
      padding-right: 15px;
      padding-left: 15px;
      width: 1170px; } }
  .container .row:after {
    content: "";
    display: table;
    clear: both; }
  @media (max-width: 499px) {
    .container .row {
      margin-right: -5px;
      margin-left: -5px; } }
  @media (min-width: 500px) and (max-width: 749px) {
    .container .row {
      margin-right: -5px;
      margin-left: -5px; } }
  @media (min-width: 750px) and (max-width: 989px) {
    .container .row {
      margin-right: -10px;
      margin-left: -10px; } }
  @media (min-width: 990px) and (max-width: 1399px) {
    .container .row {
      margin-right: -10px;
      margin-left: -10px; } }
  @media (min-width: 1400px) {
    .container .row {
      margin-right: -15px;
      margin-left: -15px; } }
  @media (max-width: 499px) {
    .container .row .pad-row {
      padding-right: 5px;
      padding-left: 5px; } }
  @media (min-width: 500px) and (max-width: 749px) {
    .container .row .pad-row {
      padding-right: 5px;
      padding-left: 5px; } }
  @media (min-width: 750px) and (max-width: 989px) {
    .container .row .pad-row {
      padding-right: 10px;
      padding-left: 10px; } }
  @media (min-width: 990px) and (max-width: 1399px) {
    .container .row .pad-row {
      padding-right: 10px;
      padding-left: 10px; } }
  @media (min-width: 1400px) {
    .container .row .pad-row {
      padding-right: 15px;
      padding-left: 15px; } }

@media (max-width: 499px) {
  .celu1, .celu2, .celu3, .celu4, .celu5, .celu6, .celu7, .celu8, .celu9, .celu10, .celu11, .celu12 {
    float: left; }

  .celu1 {
    width: 8.33333%; }

  .celu2 {
    width: 16.6666%; }

  .celu3 {
    width: 25%; }

  .celu4 {
    width: 33.3333%; }

  .celu5 {
    width: 41.66667%; }

  .celu6 {
    width: 50%; }

  .celu7 {
    width: 58.33333%; }

  .celu8 {
    width: 66.66667%; }

  .celu9 {
    width: 75%; }

  .celu10 {
    width: 83.33333%; }

  .celu11 {
    width: 91.66667%; }

  .celu12 {
    width: 100%; } }
@media (min-width: 500px) and (max-width: 749px) {
  .celh1, .celh2, .celh3, .celh4, .celh5, .celh6, .celh7, .celh8, .celh9, .celh10, .celh11, .celh12 {
    float: left; }

  .celh1 {
    width: 8.33333%; }

  .celh2 {
    width: 16.6666%; }

  .celh3 {
    width: 25%; }

  .celh4 {
    width: 33.3333%; }

  .celh5 {
    width: 41.66667%; }

  .celh6 {
    width: 50%; }

  .celh7 {
    width: 58.33333%; }

  .celh8 {
    width: 66.66667%; }

  .celh9 {
    width: 75%; }

  .celh10 {
    width: 83.33333%; }

  .celh11 {
    width: 91.66667%; }

  .celh12 {
    width: 100%; } }
@media (min-width: 750px) and (max-width: 989px) {
  .tabl1, .tabl2, .tabl3, .tabl4, .tabl5, .tabl6, .tabl7, .tabl8, .tabl9, .tabl10, .tabl11, .tabl12 {
    float: left; }

  .tabl1 {
    width: 8.33333%; }

  .tabl2 {
    width: 16.6666%; }

  .tabl3 {
    width: 25%; }

  .tabl4 {
    width: 33.3333%; }

  .tabl5 {
    width: 41.66667%; }

  .tabl6 {
    width: 50%; }

  .tabl7 {
    width: 58.33333%; }

  .tabl8 {
    width: 66.66667%; }

  .tabl9 {
    width: 75%; }

  .tabl10 {
    width: 83.33333%; }

  .tabl11 {
    width: 91.66667%; }

  .tabl12 {
    width: 100%; } }
@media (min-width: 990px) and (max-width: 1399px) {
  .note1, .note2, .note3, .note4, .note5, .note6, .note7, .note8, .note9, .note10, .note11, .note12 {
    float: left; }

  .note1 {
    width: 8.33333%; }

  .note2 {
    width: 16.6666%; }

  .note3 {
    width: 25%; }

  .note4 {
    width: 33.3333%; }

  .note5 {
    width: 41.66667%; }

  .note6 {
    width: 50%; }

  .note7 {
    width: 58.33333%; }

  .note8 {
    width: 66.66667%; }

  .note9 {
    width: 75%; }

  .note10 {
    width: 83.33333%; }

  .note11 {
    width: 91.66667%; }

  .note12 {
    width: 100%; } }
@media (min-width: 1400px) {
  .desk1, .desk2, .desk3, .desk4, .desk5, .desk6, .desk7, .desk8, .desk9, .desk10, .desk11, .desk12 {
    float: left; }

  .desk1 {
    width: 8.33333%; }

  .desk2 {
    width: 16.6666%; }

  .desk3 {
    width: 25%; }

  .desk4 {
    width: 33.3333%; }

  .desk5 {
    width: 41.66667%; }

  .desk6 {
    width: 50%; }

  .desk7 {
    width: 58.33333%; }

  .desk8 {
    width: 66.66667%; }

  .desk9 {
    width: 75%; }

  .desk10 {
    width: 83.33333%; }

  .desk11 {
    width: 91.66667%; }

  .desk12 {
    width: 100%; } }
@keyframes girar {
  0% {
    transform: rotate(0deg); }
  100% {
    transform: rotate(360deg); } }
@-webkit-keyframes girar {
  0% {
    transform: rotate(0deg); }
  100% {
    transform: rotate(360deg); } }
#modal {
  z-index: 11;
  position: fixed;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  display: none;
  overflow-y: auto;
  overflow-x: hidden; }
  #modal .wrap-modal {
    display: none; }
  #modal .fechar-modal {
    position: absolute;
    cursor: pointer;
    background: transparent;
    z-index: 2;
    text-align: center; }
  #modal.forcamodal .fechar-modal {
    display: none; }
  #modal.imagemmodal {
    text-align: center; }
  #modal.carregarmodal .icone-carregarmodal {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 60px;
    height: 60px;
    margin-top: -30px;
    margin-left: -30px;
    border-radius: 50%;
    border-top: 4px solid #FFF;
    border-right: 4px solid transparent;
    animation: girar 1s linear infinite; }
  #modal .texto-modal {
    overflow: hidden;
    text-align: center; }
    #modal .texto-modal p {
      vertical-align: middle;
      text-align: left;
      display: inline-block; }
      @media (max-width: 499px) {
        #modal .texto-modal p {
          text-align: center;
          display: block;
          margin-top: 15px; } }
      @media (min-width: 500px) and (max-width: 749px) {
        #modal .texto-modal p {
          width: 400px; } }
      @media (min-width: 750px) and (max-width: 989px) {
        #modal .texto-modal p {
          max-width: 580px; } }
      @media (min-width: 990px) and (max-width: 1399px) {
        #modal .texto-modal p {
          max-width: 880px; } }
      @media (min-width: 1400px) {
        #modal .texto-modal p {
          max-width: 1070px; } }
    #modal .texto-modal .icone-texto-modal {
      display: inline-block;
      vertical-align: middle;
      text-align: left; }
      @media (max-width: 499px) {
        #modal .texto-modal .icone-texto-modal {
          text-align: center; } }
      @media (min-width: 500px) and (max-width: 749px), (min-width: 750px) and (max-width: 989px), (min-width: 990px) and (max-width: 1399px) {
        #modal .texto-modal .icone-texto-modal {
          width: 60px; } }
      @media (min-width: 1400px) {
        #modal .texto-modal .icone-texto-modal {
          width: 70px; } }
      @media (max-width: 499px), (min-width: 500px) and (max-width: 749px), (min-width: 750px) and (max-width: 989px), (min-width: 990px) and (max-width: 1399px) {
        #modal .texto-modal .icone-texto-modal svg {
          width: 35px;
          height: 35px; } }
      @media (min-width: 1400px) {
        #modal .texto-modal .icone-texto-modal svg {
          width: 37px;
          height: 37px; } }

#modal .fechar-modal {
  line-height: 0; }
  @media (min-width: 1400px) {
    #modal .fechar-modal {
      top: 30px;
      right: 30px; } }
  @media (min-width: 1400px) {
    #modal .fechar-modal svg {
      width: 44px;
      height: 44px; } }
  #modal .fechar-modal svg path, #modal .fechar-modal svg polygon {
    fill: #FFF; }
@media (max-width: 499px), (min-width: 500px) and (max-width: 749px) {
  #modal.imagemmodal .legenda-imagemmodal p {
    padding-top: 10px; } }
@media (min-width: 750px) and (max-width: 989px), (min-width: 990px) and (max-width: 1399px), (min-width: 1400px) {
  #modal.imagemmodal .legenda-imagemmodal p {
    padding-top: 20px; } }
#modal.mensagemmodal .botao-mensagemmodal {
  text-align: center; }
  @media (max-width: 499px), (min-width: 500px) and (max-width: 749px) {
    #modal.mensagemmodal .botao-mensagemmodal {
      margin-top: 10px; } }
  @media (min-width: 750px) and (max-width: 989px), (min-width: 990px) and (max-width: 1399px), (min-width: 1400px) {
    #modal.mensagemmodal .botao-mensagemmodal {
      margin-top: 20px; } }
#modal .texto-modal p {
  color: #FFF; }
  @media (max-width: 499px), (min-width: 500px) and (max-width: 749px) {
    #modal .texto-modal p {
      font-size: 20px;
      line-height: 26px; } }
  @media (min-width: 750px) and (max-width: 989px), (min-width: 990px) and (max-width: 1399px) {
    #modal .texto-modal p {
      font-size: 24px;
      line-height: 32px; } }
  @media (min-width: 1400px) {
    #modal .texto-modal p {
      font-size: 26px;
      line-height: 34px; } }
#modal .texto-modal .icone-texto-modal svg path, #modal .texto-modal .icone-texto-modal svg polygon, #modal .texto-modal .icone-texto-modal svg rect {
  fill: #FFF; }

.mascara {
  z-index: 10;
  position: fixed;
  top: 0;
  right: 0;
  bottom: -1px;
  left: 0;
  display: none;
  background: #fd4577; }

body.mascaraaberta {
  overflow: hidden; }
  @media (min-width: 990px) and (max-width: 1399px), (min-width: 1400px) {
    body.mascaraaberta {
      padding-right: 15px; } }

@media (max-width: 499px), (min-width: 500px) and (max-width: 749px) {
  .campos .grupo-campos {
    margin-bottom: 10px; } }
@media (min-width: 750px) and (max-width: 989px), (min-width: 990px) and (max-width: 1399px) {
  .campos .grupo-campos {
    margin-bottom: 15px; } }
@media (min-width: 1400px) {
  .campos .grupo-campos {
    margin-bottom: 20px; } }
.campos .grupo-campos:last-child {
  margin-bottom: 0; }
.campos .grupo-campos.erro .inputtext {
  border-color: #ff6961; }

.select {
  position: relative;
  cursor: pointer; }
  .select select {
    -webkit-appearance: menulist-button;
    -webkit-opacity: 0;
    -ms-opacity: 0;
    -moz-opacity: 0;
    -o-opacity: 0;
    opacity: 0;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    z-index: 2; }
  .select .campo-select {
    display: block;
    position: relative;
    overflow: hidden; }
    .select .campo-select .seta-campo-select {
      position: absolute; }
      .select .campo-select .seta-campo-select svg {
        position: absolute; }
  .select.inativo {
    -webkit-opacity: 0.5;
    -ms-opacity: 0.5;
    -moz-opacity: 0.5;
    -o-opacity: 0.5;
    opacity: 0.5; }

.introformulario .select {
  width: 300px; }
  .introformulario .select .campo-select .seta-campo-select {
    width: 50px;
    right: 0;
    top: 0;
    bottom: 0;
    background: #FFF; }
    .introformulario .select .campo-select .seta-campo-select svg {
      width: 15px;
      height: 9px;
      top: 20px;
      right: 17px; }
      .introformulario .select .campo-select .seta-campo-select svg path {
        fill: #fd4577; }
  .introformulario .select.placeholder .campo-select {
    color: #BBB; }

.inputcheck .item-inputcheck {
  overflow: hidden;
  cursor: pointer;
  position: relative; }
  .inputcheck .item-inputcheck b {
    -webkit-transition: background 0.2s;
    -ms-transition: background 0.2s;
    -moz-transition: background 0.2s;
    -o-transition: background 0.2s;
    transition: background 0.2s;
    border-style: solid;
    position: absolute; }
  .inputcheck .item-inputcheck span {
    display: block; }
  .inputcheck .item-inputcheck input {
    display: none; }
.inputcheck.erro .titulo-inputcheck {
  color: #ff6961; }

@media (max-width: 499px), (min-width: 500px) and (max-width: 749px), (min-width: 750px) and (max-width: 989px) {
  .introformulario .inputcheck .item-inputcheck {
    padding: 10px 0; } }
@media (min-width: 990px) and (max-width: 1399px), (min-width: 1400px) {
  .introformulario .inputcheck .item-inputcheck {
    padding: 5px 0; } }
.introformulario .inputcheck .item-inputcheck b {
  background: transparent;
  border-width: 2px;
  width: 12px;
  height: 12px;
  border-color: #fd4577; }
  @media (max-width: 499px), (min-width: 500px) and (max-width: 749px), (min-width: 750px) and (max-width: 989px) {
    .introformulario .inputcheck .item-inputcheck b {
      top: 11px; } }
  @media (min-width: 990px) and (max-width: 1399px), (min-width: 1400px) {
    .introformulario .inputcheck .item-inputcheck b {
      top: 8px; } }
.introformulario .inputcheck .item-inputcheck span {
  padding-left: 30px;
  font-size: 18px;
  line-height: 22px;
  color: #555; }
.introformulario .inputcheck .item-inputcheck.ativo b {
  background: #fd4577; }

.inputradio .item-inputradio label {
  position: relative;
  cursor: pointer;
  display: block; }
.inputradio .item-inputradio b {
  -webkit-transition: background 0.2s;
  -ms-transition: background 0.2s;
  -moz-transition: background 0.2s;
  -o-transition: background 0.2s;
  transition: background 0.2s;
  position: absolute;
  left: 0; }
.inputradio .item-inputradio span {
  display: block; }
.inputradio .item-inputradio input {
  display: none; }
.inputradio.erro .titulo-inputradio {
  color: #ff6961; }

@media (max-width: 499px), (min-width: 500px) and (max-width: 749px), (min-width: 750px) and (max-width: 989px) {
  .introformulario .inputradio .item-inputradio {
    padding: 10px 0; } }
@media (min-width: 990px) and (max-width: 1399px), (min-width: 1400px) {
  .introformulario .inputradio .item-inputradio {
    padding: 5px 0; } }
.introformulario .inputradio .item-inputradio label {
  position: relative;
  cursor: pointer; }
.introformulario .inputradio .item-inputradio b {
  -webkit-border-radius: 50%;
  -ms-border-radius: 50%;
  -moz-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
  -webkit-transition: background 0.2s;
  -ms-transition: background 0.2s;
  -moz-transition: background 0.2s;
  -o-transition: background 0.2s;
  transition: background 0.2s;
  border-style: solid;
  border-color: #0d4b8a;
  position: absolute;
  border-width: 2px;
  width: 13px;
  height: 13px;
  left: 0; }
  @media (max-width: 499px), (min-width: 500px) and (max-width: 749px), (min-width: 750px) and (max-width: 989px), (min-width: 990px) and (max-width: 1399px) {
    .introformulario .inputradio .item-inputradio b {
      top: 8px; } }
  @media (min-width: 1400px) {
    .introformulario .inputradio .item-inputradio b {
      top: 5px; } }
  .introformulario .inputradio .item-inputradio b.ativo {
    background: #0d4b8a; }
.introformulario .inputradio .item-inputradio span {
  padding-left: 30px; }
.introformulario .inputradio .item-inputradio input {
  display: none; }

.inputtext {
  width: 100%; }
  .inputtext:disabled, .inputtext.inativo {
    -webkit-opacity: 0.5;
    -ms-opacity: 0.5;
    -moz-opacity: 0.5;
    -o-opacity: 0.5;
    opacity: 0.5; }

.introformulario .inputtext {
  -webkit-border-radius: 15px;
  -ms-border-radius: 15px;
  -moz-border-radius: 15px;
  -o-border-radius: 15px;
  border-radius: 15px;
  border-style: solid;
  background: transparent;
  font-family: "DowCorporate", Arial;
  border-color: #DDD;
  color: #333;
  line-height: 1.4; }
  @media (max-width: 499px), (min-width: 500px) and (max-width: 749px) {
    .introformulario .inputtext {
      border-width: 2px;
      font-size: 14px;
      padding: 11px 18px; } }
  @media (min-width: 750px) and (max-width: 989px), (min-width: 990px) and (max-width: 1399px) {
    .introformulario .inputtext {
      border-width: 2px;
      font-size: 14px;
      padding: 11px 18px; } }
  @media (min-width: 1400px) {
    .introformulario .inputtext {
      border-width: 2px;
      font-size: 16px;
      padding: 13px 20px; } }

.introformulario ::-webkit-input-placeholder {
  color: #BBB;
  font-family: "DowCorporate", Arial; }
.introformulario ::-moz-input-placeholder {
  color: #BBB;
  font-family: "DowCorporate", Arial; }
.introformulario ::-ms-input-placeholder {
  color: #BBB;
  font-family: "DowCorporate", Arial; }
.introformulario ::-o-input-placeholder {
  color: #BBB;
  font-family: "DowCorporate", Arial; }

.abreimagem {
  cursor: pointer; }

.abas .conteudo-abas > li {
  display: none; }

.clearfix:after {
  content: "";
  display: table;
  clear: both; }

.table {
  display: table;
  height: 100%;
  width: 100%; }
  .table .cell-table {
    display: table-cell;
    vertical-align: middle;
    height: 100%; }

.esconder {
  display: none !important; }

@media (max-width: 499px) {
  .escondecelular {
    display: none !important; } }

@media (min-width: 500px) and (max-width: 749px) {
  .escondecelularhorizontal {
    display: none !important; } }

@media (min-width: 750px) and (max-width: 989px) {
  .escondetablet {
    display: none !important; } }

@media (min-width: 990px) and (max-width: 1399px) {
  .escondenotebook {
    display: none !important; } }

@media (min-width: 1400px) {
  .escondedesktop {
    display: none !important; } }

@media (max-width: 499px), (min-width: 500px) and (max-width: 749px), (min-width: 750px) and (max-width: 989px) {
  .escondemobile {
    display: none !important; } }

@media (min-width: 990px) and (max-width: 1399px), (min-width: 1400px) {
  .escondeoutros {
    display: none !important; } }

.texto {
  font-family: Helvetica, Verdana, Arial; }
  .texto img {
    max-width: 100%;
    display: block;
    height: auto !important; }
  .texto > * + * {
    margin-top: 20px; }
  .texto p {
    overflow: hidden; }
  .texto strong {
    font-weight: 400; }
  .texto ul {
    padding-left: 19px;
    list-style-type: disc; }
  .texto ol {
    padding-left: 19px;
    list-style-type: decimal; }
  .texto a {
    text-decoration: underline; }

.videoclick {
  position: relative; }
  .videoclick iframe {
    vertical-align: middle; }

.videoresponsivo {
  position: relative;
  padding-bottom: 56.25%;
  height: 0; }
  .videoresponsivo iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%; }
  .videoresponsivo img {
    width: 100%; }

body {
  font-family: "DowCorporate", Arial;
  background: #FFF; }

strong {
  font-weight: 600; }

.arredondado50 {
  -webkit-border-radius: 50%;
  -ms-border-radius: 50%;
  -moz-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%; }

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

ol, ul {
  list-style: none; }
  ol:after, ul:after {
    content: "";
    display: table;
    clear: both; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after, q:before, q:after {
  content: "";
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

a {
  text-decoration: none;
  outline: none;
  display: inline-block; }

body {
  line-height: 1; }

* {
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box; }

button {
  outline: 0;
  cursor: pointer;
  display: inline-block;
  margin: 0; }

img {
  vertical-align: middle;
  max-width: 100%; }

button, input, select, textarea {
  outline: none; }

textarea {
  resize: none; }

em {
  font-style: italic; }

main {
  display: block; }

@font-face {
  font-family: "DowCorporate";
  src: url("../fonts/dowcorporate/dowcorporate-thin.eot?#iefix") format("embedded-opentype"), url("../fonts/dowcorporate/dowcorporate-thin.woff") format("woff"), url("../fonts/dowcorporate/dowcorporate-thin.ttf") format("truetype"), url("../fonts/dowcorporate/dowcorporate-thin.svg#dowcorporate-thin") format("svg");
  font-weight: 100;
  font-style: normal; }
@font-face {
  font-family: "DowCorporate";
  src: url("../fonts/dowcorporate/dowcorporate-thinita.eot?#iefix") format("embedded-opentype"), url("../fonts/dowcorporate/dowcorporate-thinita.woff") format("woff"), url("../fonts/dowcorporate/dowcorporate-thinita.ttf") format("truetype"), url("../fonts/dowcorporate/dowcorporate-thinita.svg#dowcorporate-thinita") format("svg");
  font-weight: 100;
  font-style: italic; }
@font-face {
  font-family: "DowCorporate";
  src: url("../fonts/dowcorporate/dowcorporate-light.eot?#iefix") format("embedded-opentype"), url("../fonts/dowcorporate/dowcorporate-light.woff") format("woff"), url("../fonts/dowcorporate/dowcorporate-light.ttf") format("truetype"), url("../fonts/dowcorporate/dowcorporate-light.svg#dowcorporate-light") format("svg");
  font-weight: 200;
  font-style: normal; }
@font-face {
  font-family: "DowCorporate";
  src: url("../fonts/dowcorporate/dowcorporate-lightita.eot?#iefix") format("embedded-opentype"), url("../fonts/dowcorporate/dowcorporate-lightita.woff") format("woff"), url("../fonts/dowcorporate/dowcorporate-lightita.ttf") format("truetype"), url("../fonts/dowcorporate/dowcorporate-lightita.svg#dowcorporate-lightita") format("svg");
  font-weight: 200;
  font-style: italic; }
@font-face {
  font-family: "DowCorporate";
  src: url("../fonts/dowcorporate/dowcorporate-regular.eot?#iefix") format("embedded-opentype"), url("../fonts/dowcorporate/dowcorporate-regular.woff") format("woff"), url("../fonts/dowcorporate/dowcorporate-regular.ttf") format("truetype"), url("../fonts/dowcorporate/dowcorporate-regular.svg#dowcorporate-regular") format("svg");
  font-weight: 400;
  font-style: normal; }
@font-face {
  font-family: "DowCorporate";
  src: url("../fonts/dowcorporate/dowcorporate-regularita.eot?#iefix") format("embedded-opentype"), url("../fonts/dowcorporate/dowcorporate-regularita.woff") format("woff"), url("../fonts/dowcorporate/dowcorporate-regularita.ttf") format("truetype"), url("../fonts/dowcorporate/dowcorporate-regularita.svg#dowcorporate-regularita") format("svg");
  font-weight: 400;
  font-style: italic; }
@font-face {
  font-family: "DowCorporate";
  src: url("../fonts/dowcorporate/dowcorporate-medium.eot?#iefix") format("embedded-opentype"), url("../fonts/dowcorporate/dowcorporate-medium.woff") format("woff"), url("../fonts/dowcorporate/dowcorporate-medium.ttf") format("truetype"), url("../fonts/dowcorporate/dowcorporate-medium.svg#dowcorporate-medium") format("svg");
  font-weight: 500;
  font-style: normal; }
@font-face {
  font-family: "DowCorporate";
  src: url("../fonts/dowcorporate/dowcorporate-mediumita.eot?#iefix") format("embedded-opentype"), url("../fonts/dowcorporate/dowcorporate-mediumita.woff") format("woff"), url("../fonts/dowcorporate/dowcorporate-mediumita.ttf") format("truetype"), url("../fonts/dowcorporate/dowcorporate-mediumita.svg#dowcorporate-mediumita") format("svg");
  font-weight: 500;
  font-style: italic; }
@font-face {
  font-family: "DowCorporate";
  src: url("../fonts/dowcorporate/dowcorporate-bold.eot?#iefix") format("embedded-opentype"), url("../fonts/dowcorporate/dowcorporate-bold.woff") format("woff"), url("../fonts/dowcorporate/dowcorporate-bold.ttf") format("truetype"), url("../fonts/dowcorporate/dowcorporate-bold.svg#dowcorporate-bold") format("svg");
  font-weight: 700;
  font-style: normal; }
.texto {
  font-family: "DowCorporate", Arial; }
  .texto img {
    max-width: 100%;
    display: block;
    height: auto !important; }
  @media (max-width: 499px), (min-width: 500px) and (max-width: 749px) {
    .texto > * + * {
      margin-top: 10px; } }
  @media (min-width: 750px) and (max-width: 989px), (min-width: 990px) and (max-width: 1399px), (min-width: 1400px) {
    .texto > * + * {
      margin-top: 15px; } }
  .texto p {
    overflow: hidden; }
  .texto strong {
    font-weight: 500; }
  .texto ul {
    padding-left: 19px;
    list-style-type: disc; }
  .texto ol {
    padding-left: 19px;
    list-style-type: decimal; }
  .texto a {
    text-decoration: underline; }

.container {
  margin: 0 auto; }
  .container:after {
    content: "";
    display: table;
    clear: both; }
  @media (max-width: 499px) {
    .container {
      padding-right: 20px;
      padding-left: 20px; } }
  @media (min-width: 500px) and (max-width: 749px) {
    .container {
      padding-right: 10px;
      padding-left: 10px;
      width: 480px; } }
  @media (min-width: 750px) and (max-width: 989px) {
    .container {
      padding-right: 10px;
      padding-left: 10px;
      width: 660px; } }
  @media (min-width: 990px) and (max-width: 1399px) {
    .container {
      padding-right: 10px;
      padding-left: 10px;
      width: 960px; } }
  @media (min-width: 1400px) {
    .container {
      padding-right: 15px;
      padding-left: 15px;
      width: 1170px; } }
  .container .row:after {
    content: "";
    display: table;
    clear: both; }
  @media (max-width: 499px) {
    .container .row {
      margin-right: -5px;
      margin-left: -5px; } }
  @media (min-width: 500px) and (max-width: 749px) {
    .container .row {
      margin-right: -5px;
      margin-left: -5px; } }
  @media (min-width: 750px) and (max-width: 989px) {
    .container .row {
      margin-right: -10px;
      margin-left: -10px; } }
  @media (min-width: 990px) and (max-width: 1399px) {
    .container .row {
      margin-right: -10px;
      margin-left: -10px; } }
  @media (min-width: 1400px) {
    .container .row {
      margin-right: -15px;
      margin-left: -15px; } }
  @media (max-width: 499px) {
    .container .row .pad-row {
      padding-right: 5px;
      padding-left: 5px; } }
  @media (min-width: 500px) and (max-width: 749px) {
    .container .row .pad-row {
      padding-right: 5px;
      padding-left: 5px; } }
  @media (min-width: 750px) and (max-width: 989px) {
    .container .row .pad-row {
      padding-right: 10px;
      padding-left: 10px; } }
  @media (min-width: 990px) and (max-width: 1399px) {
    .container .row .pad-row {
      padding-right: 10px;
      padding-left: 10px; } }
  @media (min-width: 1400px) {
    .container .row .pad-row {
      padding-right: 15px;
      padding-left: 15px; } }

@media (max-width: 499px) {
  .celu1, .celu2, .celu3, .celu4, .celu5, .celu6, .celu7, .celu8, .celu9, .celu10, .celu11, .celu12 {
    float: left; }

  .celu1 {
    width: 8.33333%; }

  .celu2 {
    width: 16.6666%; }

  .celu3 {
    width: 25%; }

  .celu4 {
    width: 33.3333%; }

  .celu5 {
    width: 41.66667%; }

  .celu6 {
    width: 50%; }

  .celu7 {
    width: 58.33333%; }

  .celu8 {
    width: 66.66667%; }

  .celu9 {
    width: 75%; }

  .celu10 {
    width: 83.33333%; }

  .celu11 {
    width: 91.66667%; }

  .celu12 {
    width: 100%; } }
@media (min-width: 500px) and (max-width: 749px) {
  .celh1, .celh2, .celh3, .celh4, .celh5, .celh6, .celh7, .celh8, .celh9, .celh10, .celh11, .celh12 {
    float: left; }

  .celh1 {
    width: 8.33333%; }

  .celh2 {
    width: 16.6666%; }

  .celh3 {
    width: 25%; }

  .celh4 {
    width: 33.3333%; }

  .celh5 {
    width: 41.66667%; }

  .celh6 {
    width: 50%; }

  .celh7 {
    width: 58.33333%; }

  .celh8 {
    width: 66.66667%; }

  .celh9 {
    width: 75%; }

  .celh10 {
    width: 83.33333%; }

  .celh11 {
    width: 91.66667%; }

  .celh12 {
    width: 100%; } }
@media (min-width: 750px) and (max-width: 989px) {
  .tabl1, .tabl2, .tabl3, .tabl4, .tabl5, .tabl6, .tabl7, .tabl8, .tabl9, .tabl10, .tabl11, .tabl12 {
    float: left; }

  .tabl1 {
    width: 8.33333%; }

  .tabl2 {
    width: 16.6666%; }

  .tabl3 {
    width: 25%; }

  .tabl4 {
    width: 33.3333%; }

  .tabl5 {
    width: 41.66667%; }

  .tabl6 {
    width: 50%; }

  .tabl7 {
    width: 58.33333%; }

  .tabl8 {
    width: 66.66667%; }

  .tabl9 {
    width: 75%; }

  .tabl10 {
    width: 83.33333%; }

  .tabl11 {
    width: 91.66667%; }

  .tabl12 {
    width: 100%; } }
@media (min-width: 990px) and (max-width: 1399px) {
  .note1, .note2, .note3, .note4, .note5, .note6, .note7, .note8, .note9, .note10, .note11, .note12 {
    float: left; }

  .note1 {
    width: 8.33333%; }

  .note2 {
    width: 16.6666%; }

  .note3 {
    width: 25%; }

  .note4 {
    width: 33.3333%; }

  .note5 {
    width: 41.66667%; }

  .note6 {
    width: 50%; }

  .note7 {
    width: 58.33333%; }

  .note8 {
    width: 66.66667%; }

  .note9 {
    width: 75%; }

  .note10 {
    width: 83.33333%; }

  .note11 {
    width: 91.66667%; }

  .note12 {
    width: 100%; } }
@media (min-width: 1400px) {
  .desk1, .desk2, .desk3, .desk4, .desk5, .desk6, .desk7, .desk8, .desk9, .desk10, .desk11, .desk12 {
    float: left; }

  .desk1 {
    width: 8.33333%; }

  .desk2 {
    width: 16.6666%; }

  .desk3 {
    width: 25%; }

  .desk4 {
    width: 33.3333%; }

  .desk5 {
    width: 41.66667%; }

  .desk6 {
    width: 50%; }

  .desk7 {
    width: 58.33333%; }

  .desk8 {
    width: 66.66667%; }

  .desk9 {
    width: 75%; }

  .desk10 {
    width: 83.33333%; }

  .desk11 {
    width: 91.66667%; }

  .desk12 {
    width: 100%; } }
@keyframes girar {
  0% {
    transform: rotate(0deg); }
  100% {
    transform: rotate(360deg); } }
@-webkit-keyframes girar {
  0% {
    transform: rotate(0deg); }
  100% {
    transform: rotate(360deg); } }
#modal {
  z-index: 11;
  position: fixed;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  display: none;
  overflow-y: auto;
  overflow-x: hidden; }
  #modal .wrap-modal {
    display: none; }
  #modal .fechar-modal {
    position: absolute;
    cursor: pointer;
    background: transparent;
    z-index: 2;
    text-align: center; }
  #modal.forcamodal .fechar-modal {
    display: none; }
  #modal.imagemmodal {
    text-align: center; }
  #modal.carregarmodal .icone-carregarmodal {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 60px;
    height: 60px;
    margin-top: -30px;
    margin-left: -30px;
    border-radius: 50%;
    border-top: 4px solid #FFF;
    border-right: 4px solid transparent;
    animation: girar 1s linear infinite; }
  #modal .texto-modal {
    overflow: hidden;
    text-align: center; }
    #modal .texto-modal p {
      vertical-align: middle;
      text-align: left;
      display: inline-block; }
      @media (max-width: 499px) {
        #modal .texto-modal p {
          text-align: center;
          display: block;
          margin-top: 15px; } }
      @media (min-width: 500px) and (max-width: 749px) {
        #modal .texto-modal p {
          width: 400px; } }
      @media (min-width: 750px) and (max-width: 989px) {
        #modal .texto-modal p {
          max-width: 580px; } }
      @media (min-width: 990px) and (max-width: 1399px) {
        #modal .texto-modal p {
          max-width: 880px; } }
      @media (min-width: 1400px) {
        #modal .texto-modal p {
          max-width: 1070px; } }
    #modal .texto-modal .icone-texto-modal {
      display: inline-block;
      vertical-align: middle;
      text-align: left; }
      @media (max-width: 499px) {
        #modal .texto-modal .icone-texto-modal {
          text-align: center; } }
      @media (min-width: 500px) and (max-width: 749px), (min-width: 750px) and (max-width: 989px), (min-width: 990px) and (max-width: 1399px) {
        #modal .texto-modal .icone-texto-modal {
          width: 60px; } }
      @media (min-width: 1400px) {
        #modal .texto-modal .icone-texto-modal {
          width: 70px; } }
      @media (max-width: 499px), (min-width: 500px) and (max-width: 749px), (min-width: 750px) and (max-width: 989px), (min-width: 990px) and (max-width: 1399px) {
        #modal .texto-modal .icone-texto-modal svg {
          width: 35px;
          height: 35px; } }
      @media (min-width: 1400px) {
        #modal .texto-modal .icone-texto-modal svg {
          width: 37px;
          height: 37px; } }

#modal .fechar-modal {
  line-height: 0; }
  @media (min-width: 1400px) {
    #modal .fechar-modal {
      top: 30px;
      right: 30px; } }
  @media (min-width: 1400px) {
    #modal .fechar-modal svg {
      width: 44px;
      height: 44px; } }
  #modal .fechar-modal svg path, #modal .fechar-modal svg polygon {
    fill: #FFF; }
@media (max-width: 499px), (min-width: 500px) and (max-width: 749px) {
  #modal.imagemmodal .legenda-imagemmodal p {
    padding-top: 10px; } }
@media (min-width: 750px) and (max-width: 989px), (min-width: 990px) and (max-width: 1399px), (min-width: 1400px) {
  #modal.imagemmodal .legenda-imagemmodal p {
    padding-top: 20px; } }
#modal.mensagemmodal .botao-mensagemmodal {
  text-align: center; }
  @media (max-width: 499px), (min-width: 500px) and (max-width: 749px) {
    #modal.mensagemmodal .botao-mensagemmodal {
      margin-top: 10px; } }
  @media (min-width: 750px) and (max-width: 989px), (min-width: 990px) and (max-width: 1399px), (min-width: 1400px) {
    #modal.mensagemmodal .botao-mensagemmodal {
      margin-top: 20px; } }
#modal .texto-modal p {
  color: #FFF; }
  @media (max-width: 499px), (min-width: 500px) and (max-width: 749px) {
    #modal .texto-modal p {
      font-size: 20px;
      line-height: 26px; } }
  @media (min-width: 750px) and (max-width: 989px), (min-width: 990px) and (max-width: 1399px) {
    #modal .texto-modal p {
      font-size: 24px;
      line-height: 32px; } }
  @media (min-width: 1400px) {
    #modal .texto-modal p {
      font-size: 26px;
      line-height: 34px; } }
#modal .texto-modal .icone-texto-modal svg path, #modal .texto-modal .icone-texto-modal svg polygon, #modal .texto-modal .icone-texto-modal svg rect {
  fill: #FFF; }

.mascara {
  z-index: 10;
  position: fixed;
  top: 0;
  right: 0;
  bottom: -1px;
  left: 0;
  display: none;
  background: #fd4577; }

body.mascaraaberta {
  overflow: hidden; }
  @media (min-width: 990px) and (max-width: 1399px), (min-width: 1400px) {
    body.mascaraaberta {
      padding-right: 15px; } }

@media (max-width: 499px), (min-width: 500px) and (max-width: 749px) {
  .campos .grupo-campos {
    margin-bottom: 10px; } }
@media (min-width: 750px) and (max-width: 989px), (min-width: 990px) and (max-width: 1399px) {
  .campos .grupo-campos {
    margin-bottom: 15px; } }
@media (min-width: 1400px) {
  .campos .grupo-campos {
    margin-bottom: 20px; } }
.campos .grupo-campos:last-child {
  margin-bottom: 0; }
.campos .grupo-campos.erro .inputtext {
  border-color: #ff6961; }

.select {
  position: relative;
  cursor: pointer; }
  .select select {
    -webkit-appearance: menulist-button;
    -webkit-opacity: 0;
    -ms-opacity: 0;
    -moz-opacity: 0;
    -o-opacity: 0;
    opacity: 0;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    z-index: 2; }
  .select .campo-select {
    display: block;
    position: relative;
    overflow: hidden; }
    .select .campo-select .seta-campo-select {
      position: absolute; }
      .select .campo-select .seta-campo-select svg {
        position: absolute; }
  .select.inativo {
    -webkit-opacity: 0.5;
    -ms-opacity: 0.5;
    -moz-opacity: 0.5;
    -o-opacity: 0.5;
    opacity: 0.5; }

.introformulario .select {
  width: 300px; }
  .introformulario .select .campo-select .seta-campo-select {
    width: 50px;
    right: 0;
    top: 0;
    bottom: 0;
    background: #FFF; }
    .introformulario .select .campo-select .seta-campo-select svg {
      width: 15px;
      height: 9px;
      top: 20px;
      right: 17px; }
      .introformulario .select .campo-select .seta-campo-select svg path {
        fill: #fd4577; }
  .introformulario .select.placeholder .campo-select {
    color: #BBB; }

.inputcheck .item-inputcheck {
  overflow: hidden;
  cursor: pointer;
  position: relative; }
  .inputcheck .item-inputcheck b {
    -webkit-transition: background 0.2s;
    -ms-transition: background 0.2s;
    -moz-transition: background 0.2s;
    -o-transition: background 0.2s;
    transition: background 0.2s;
    border-style: solid;
    position: absolute; }
  .inputcheck .item-inputcheck span {
    display: block; }
  .inputcheck .item-inputcheck input {
    display: none; }
.inputcheck.erro .titulo-inputcheck {
  color: #ff6961; }

@media (max-width: 499px), (min-width: 500px) and (max-width: 749px), (min-width: 750px) and (max-width: 989px) {
  .introformulario .inputcheck .item-inputcheck {
    padding: 10px 0; } }
@media (min-width: 990px) and (max-width: 1399px), (min-width: 1400px) {
  .introformulario .inputcheck .item-inputcheck {
    padding: 5px 0; } }
.introformulario .inputcheck .item-inputcheck b {
  background: transparent;
  border-width: 2px;
  width: 12px;
  height: 12px;
  border-color: #fd4577; }
  @media (max-width: 499px), (min-width: 500px) and (max-width: 749px), (min-width: 750px) and (max-width: 989px) {
    .introformulario .inputcheck .item-inputcheck b {
      top: 11px; } }
  @media (min-width: 990px) and (max-width: 1399px), (min-width: 1400px) {
    .introformulario .inputcheck .item-inputcheck b {
      top: 8px; } }
.introformulario .inputcheck .item-inputcheck span {
  padding-left: 30px;
  font-size: 18px;
  line-height: 22px;
  color: #555; }
.introformulario .inputcheck .item-inputcheck.ativo b {
  background: #fd4577; }

.inputradio .item-inputradio label {
  position: relative;
  cursor: pointer;
  display: block; }
.inputradio .item-inputradio b {
  -webkit-transition: background 0.2s;
  -ms-transition: background 0.2s;
  -moz-transition: background 0.2s;
  -o-transition: background 0.2s;
  transition: background 0.2s;
  position: absolute;
  left: 0; }
.inputradio .item-inputradio span {
  display: block; }
.inputradio .item-inputradio input {
  display: none; }
.inputradio.erro .titulo-inputradio {
  color: #ff6961; }

@media (max-width: 499px), (min-width: 500px) and (max-width: 749px), (min-width: 750px) and (max-width: 989px) {
  .introformulario .inputradio .item-inputradio {
    padding: 10px 0; } }
@media (min-width: 990px) and (max-width: 1399px), (min-width: 1400px) {
  .introformulario .inputradio .item-inputradio {
    padding: 5px 0; } }
.introformulario .inputradio .item-inputradio label {
  position: relative;
  cursor: pointer; }
.introformulario .inputradio .item-inputradio b {
  -webkit-border-radius: 50%;
  -ms-border-radius: 50%;
  -moz-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
  -webkit-transition: background 0.2s;
  -ms-transition: background 0.2s;
  -moz-transition: background 0.2s;
  -o-transition: background 0.2s;
  transition: background 0.2s;
  border-style: solid;
  border-color: #0d4b8a;
  position: absolute;
  border-width: 2px;
  width: 13px;
  height: 13px;
  left: 0; }
  @media (max-width: 499px), (min-width: 500px) and (max-width: 749px), (min-width: 750px) and (max-width: 989px), (min-width: 990px) and (max-width: 1399px) {
    .introformulario .inputradio .item-inputradio b {
      top: 8px; } }
  @media (min-width: 1400px) {
    .introformulario .inputradio .item-inputradio b {
      top: 5px; } }
  .introformulario .inputradio .item-inputradio b.ativo {
    background: #0d4b8a; }
.introformulario .inputradio .item-inputradio span {
  padding-left: 30px; }
.introformulario .inputradio .item-inputradio input {
  display: none; }

.inputtext {
  width: 100%; }
  .inputtext:disabled, .inputtext.inativo {
    -webkit-opacity: 0.5;
    -ms-opacity: 0.5;
    -moz-opacity: 0.5;
    -o-opacity: 0.5;
    opacity: 0.5; }

.introformulario .inputtext {
  -webkit-border-radius: 15px;
  -ms-border-radius: 15px;
  -moz-border-radius: 15px;
  -o-border-radius: 15px;
  border-radius: 15px;
  border-style: solid;
  background: transparent;
  font-family: "DowCorporate", Arial;
  border-color: #DDD;
  color: #333;
  line-height: 1.4; }
  @media (max-width: 499px), (min-width: 500px) and (max-width: 749px) {
    .introformulario .inputtext {
      border-width: 2px;
      font-size: 14px;
      padding: 11px 18px; } }
  @media (min-width: 750px) and (max-width: 989px), (min-width: 990px) and (max-width: 1399px) {
    .introformulario .inputtext {
      border-width: 2px;
      font-size: 14px;
      padding: 11px 18px; } }
  @media (min-width: 1400px) {
    .introformulario .inputtext {
      border-width: 2px;
      font-size: 16px;
      padding: 13px 20px; } }

.introformulario ::-webkit-input-placeholder {
  color: #BBB;
  font-family: "DowCorporate", Arial; }
.introformulario ::-moz-input-placeholder {
  color: #BBB;
  font-family: "DowCorporate", Arial; }
.introformulario ::-ms-input-placeholder {
  color: #BBB;
  font-family: "DowCorporate", Arial; }
.introformulario ::-o-input-placeholder {
  color: #BBB;
  font-family: "DowCorporate", Arial; }

.abreimagem {
  cursor: pointer; }

.abas .conteudo-abas > li {
  display: none; }

.clearfix:after {
  content: "";
  display: table;
  clear: both; }

.table {
  display: table;
  height: 100%;
  width: 100%; }
  .table .cell-table {
    display: table-cell;
    vertical-align: middle;
    height: 100%; }

.esconder {
  display: none !important; }

@media (max-width: 499px) {
  .escondecelular {
    display: none !important; } }

@media (min-width: 500px) and (max-width: 749px) {
  .escondecelularhorizontal {
    display: none !important; } }

@media (min-width: 750px) and (max-width: 989px) {
  .escondetablet {
    display: none !important; } }

@media (min-width: 990px) and (max-width: 1399px) {
  .escondenotebook {
    display: none !important; } }

@media (min-width: 1400px) {
  .escondedesktop {
    display: none !important; } }

@media (max-width: 499px), (min-width: 500px) and (max-width: 749px), (min-width: 750px) and (max-width: 989px) {
  .escondemobile {
    display: none !important; } }

@media (min-width: 990px) and (max-width: 1399px), (min-width: 1400px) {
  .escondeoutros {
    display: none !important; } }

.texto {
  font-family: Helvetica, Verdana, Arial; }
  .texto img {
    max-width: 100%;
    display: block;
    height: auto !important; }
  .texto > * + * {
    margin-top: 20px; }
  .texto p {
    overflow: hidden; }
  .texto strong {
    font-weight: 400; }
  .texto ul {
    padding-left: 19px;
    list-style-type: disc; }
  .texto ol {
    padding-left: 19px;
    list-style-type: decimal; }
  .texto a {
    text-decoration: underline; }

.videoclick {
  position: relative; }
  .videoclick iframe {
    vertical-align: middle; }

.videoresponsivo {
  position: relative;
  padding-bottom: 56.25%;
  height: 0; }
  .videoresponsivo iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%; }
  .videoresponsivo img {
    width: 100%; }

body {
  font-family: "DowCorporate", Arial;
  background: #FFF; }

strong {
  font-weight: 600; }

.arredondado50 {
  -webkit-border-radius: 50%;
  -ms-border-radius: 50%;
  -moz-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%; }

body {
  font-size: 18px;
  line-height: 1.4;
  color: #444; }

.intropadrao .botoes-intropadrao {
  margin-top: 20px; }

.introslider .controlesslider > a svg {
  height: 20px;
  width: 20px; }

.introformulario .campos {
  width: 50%; }
  .introformulario .campos textarea {
    height: 100px; }
  .introformulario .campos .inputcheck-campos .titulo-inputcheck-campos {
    margin-bottom: 10px; }
  .introformulario .campos .inputradio-campos .titulo-inputradio-campos {
    margin-bottom: 10px; }

.botao1 {
  border-style: solid;
  font-family: "DowCorporate", Arial;
  padding: 8px 14px;
  font-size: 16px;
  line-height: 18px;
  border-width: 1px;
  border-style: solid;
  color: #333;
  background-color: #f7f7f7;
  border-color: #CCC;
  -webkit-border-radius: 4px;
  -ms-border-radius: 4px;
  -moz-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px; }
  .botao1:hover {
    background-color: #EEE; }

.banner {
  -webkit-background-size: cover;
  -ms-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  position: relative;
  height: 400px;
  background: #0d4b8a; }
  .banner p {
    text-transform: uppercase;
    text-align: center;
    color: #FFF;
    font-size: 34px;
    font-weight: 500; }

.cabecalho {
  background: #FFF;
  height: 70px;
  padding-top: 16px;
  border-bottom: 1px solid #EEE; }
  .cabecalho .logo-cabecalho {
    line-height: 0;
    float: left; }
    .cabecalho .logo-cabecalho svg {
      width: 26px; }
      .cabecalho .logo-cabecalho svg path {
        fill: #fd4577; }
  .cabecalho .menu-cabecalho {
    float: right;
    margin-left: 20px;
    margin-top: 9px; }
    .cabecalho .menu-cabecalho li {
      float: left; }
      .cabecalho .menu-cabecalho li + li {
        margin-left: 25px; }
      .cabecalho .menu-cabecalho li a {
        display: block;
        color: #fd4577; }

main {
  margin-top: 20px; }

/*# sourceMappingURL=home.css.map */
